<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Interview Request Expired</title>
  <link rel="stylesheet" type="text/css" href="../email-styles.css">
</head>
<body>
<div class="container">
  <p>Dear {user_first_name}, </p>

  <p>We would like to inform you that your interview request has expired.</p>

  <p>If you still wish to take an interview, please create a new request as soon as possible.</p>

  <p>If you have any questions or need help, contact our support team
    at <a href="mailto:skillzzy.noreply@gmail.com">support@skillzzy.com</a>.</p>

  <p>Thank you for using Skillzzy!</p>
  <p>Best regards,<br/>Ratifire Team</p>
</div>
</body>
</html>