<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Interview Cancelled</title>
  <link rel="stylesheet" type="text/css" href="../email-styles.css">
</head>
<body>
<div class="container">
  <p>Dear {recipient_first_name}, </p>

  <p>The interview with {rejection_user_first_name}, which was scheduled for {scheduled_time},
    has been cancelled. But don't worry! We are already looking for a new candidate just for you, a new interview will be created soon and
      we will promptly notify you.</p>

  <p>If you have any questions or need additional assistance, please contact our support team at
    <a href="mailto:skillzzy.noreply@gmail.com">support@skillzzy.com</a>.</p>

  <p>Thank you for using Skillzzy!</p>
  <p>Best regards,<br/>Ratifire Team</p>
</div>
</body>
</html>