<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome to Skillzzy!</title>
  <link rel="stylesheet" type="text/css" href="../email-styles.css">
</head>
<body>
<p>Dear {user_first_name}, </p>

<p>Welcome to Skillzzy — a community where you can quickly and easily practice conducting and taking interviews.
  We are very excited that you have joined us!</p>

<p>Skillzzy is a platform created for practicing conducting and taking interviews, sharing knowledge
  and finding new connections. Whether you are here to get advice, share
  experience, or find like-minded people — you are in the right place.</p>

<p>To get started, here are some tips:</p>
<ul>
  <li>Fill out your profile so others can learn about your skills and experience.</li>
  <li>Create your expertise in one or another direction on the Specializations page.</li>
  <li>Submit the desired number of interview requests at a convenient time for you.</li>
  <li>Meet other developers.</li>
</ul>

<p>If you have questions or need help, contact our support team
  at <a href="mailto:skillzzy.noreply@gmail.com">support@skillzzy.com</a>.</p>

<p>Thank you again for joining Skillzzy! We look forward to your achievements in our community.</p>

<p>Best regards,<br/>Ratifire Team</p>
</body>
</html>